{% load static %}

<section class="socials-block" aria-labelledby="socials-title">
  <h5 id="socials-title" class="socials-title">Наші соцмережі</h5>

  <ul class="socials-list" role="list">
    <li>
      <a href="https://www.tiktok.com/" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
        <img src="{% static 'img/social/tiktok.svg' %}" alt="TikTok" class="social-tile">
      </a>
    </li>

    <li>
      <a href="https://www.instagram.com/" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <img src="{% static 'img/social/instagram.svg' %}" alt="Instagram" class="social-tile">
      </a>
    </li>

    <li>
      <a href="https://www.facebook.com/" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        <img src="{% static 'img/social/facebook.svg' %}" alt="Facebook" class="social-tile">
      </a>
    </li>
  </ul>

</section>
